body {
  background-color: bisque;
}

#python{
  display: none;
}
#Ruby{
  display: none;
}

#C {
  display: none;
}

#Java {
  display: none;
}

#fullstack {
  display: none;
}
